Package: com.niceios.niceiossb
Description: 为NiceBarX提供天气定位服务..
Version: 1.0.0-59
Section: Localization
Maintainer: NiceiOS
Architecture: iphoneos-arm
Installed-Size: 180
Name: NiceiOS
Author: NiceiOS
Sponsor: NiceiOS
Icon: http://apt.jqmyjxj.com/icon/jqm_normal.png
Tag: role:: NiceiOS
